#body{
    background-color: yellow;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    z-index: 1;
    transition: 1s linear;
}

#body.body-on-search {
    background-color: #938c8c;
    display: flex;
    justify-content: center;

}

#nav{
    position: fixed;
    font-style: oblique;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    background-color:black;
    margin: 0px;
    padding: 2px;
    color: white;
    font-family: "C059";
    transition: opacity 0.5s linear, transform 0.5s linear;
}

.remove-nav {
    opacity: 0;
    transform: translateY(-100%);
}

#nav-logo {
    height: 50px;
}

#nav-pages{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: auto;
}

.nav-button {
    margin: 5px;
    background-color: #353333;
    color: #d2cccc;
    border: none;
    width: 50px;
    font-family: "DejaVu Serif";
}
button:hover {
    zoom: 1.1;
    background-color: #454444;
    color: #ffffff;
}

#search-form{
    position: fixed;
    font-size: 1em;
    width: 100vw;
    text-align: center;
    margin-top: 110px;
    transition: 0.5s linear;
}

#search-input {
    border-radius: 20px;
    text-align: center;
    transition: 0.5s linear;
}

.search-form-to-top {
    transform: translatey(-70px);
}

#table{
    position: absolute;
    width: 70%;
    z-index: -1;
    margin-top: 150px;
    color: #ffffff;
}

#table-div {
    transition: 0.5s ease;
}

.remove-table {
    opacity: 0;
    display: none;
}

.search-div {
    display: none;
    transition: 1.5s linear;
    overflow: scroll;
}

.search-div.search-div-appearing {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    height: 80vh;
    margin: 100px auto;
    background-color: #ffffff;
    border-radius: 50px;
    opacity: 0.9;
}

#search-btn, #close-btn {
    visibility: collapse;
}

#search-btn.search-btns, #close-btn.search-btns {
    position: fixed;
    visibility: visible;
    cursor: pointer;
    z-index: 1;
    padding: 0 10px;
    font-size: 1.3em;
    margin-left: 50px;
}

#close-btn.search-btns {
    margin-left: 100px;
}

#search-btn.search-btns:hover, #close-btn.search-btns:hover {
    color: white;
}

.found-img{
    height: 400px;
}

.character-attribute {
    width: 30vw;
    font-size: 1.5em;
    margin: 20px;
    background-color: #dcd9d9;
    list-style: none;
}

thead{
    font-size: 1.2em;
}

td{
    font-family: "Nimbus Mono PS";
    font-size: 1.7em;
}

#character-picture{
    border: solid 3px white;
    margin: 10px 0;
    height: 300px;
    transition: 0.5s ease;
}

#character-picture:focus {
    margin-top: 10px;
    transform: scale(1.2);
}

.next-icon {
    height: 40px;
    color: lightgray;
}

.show-next {
    cursor: pointer;
    color: black;
    z-index: 3;
}
